---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "关于我";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "技术写作者",
  hobbies: ["摄影", "观鸟", "棒球"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "写作文档"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={`${pageTitle} | 我的 Astro 博客`}>
  <h1>{pageTitle}</h1>
  <h2>……和我的新 Astro 网站！</h2>

  <p>
    我叫 {identity.firstName}，我住在 {identity.country}，我的工作是 {
      identity.occupation
    }。
  </p>
  <p>我的两个爱好是：{identity.hobbies[0]} 和 {identity.hobbies[1]}</p>

  <p>
    我正在学习 Astro
    的入门教程。这是我网站上的第二个页面，也是我自己建立的第一个页面！
  </p>

  <p>我的技能包括：</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>我很高兴正在学习 Astro！</p>}

  {finished && <p>我完成了这个教程！</p>}

  {goal === 3 ? <p>我的目标是在 3 天内完成。</p> : <p>我的目标不是 3 天。</p>}

  <p>随着我完成更多教程，该站点将更新，所以请继续查看我的旅程将如何进行吧！</p>
</BaseLayout>

<style>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: green;
    font-weight: bold;
  }
</style>
